body {
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-image: url("../images/soup.jpg");
  background-position: center;
}

h1 {
  line-height: 600px;
  margin-top: 0;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-weight: 400;
  font-size: 100px;
}

h2 {
  font-weight: 400;
}

.header image {
  width: 100%;
}

ul {
  list-style-type: none;
}

li {
  font-weight: 100;
  line-height: 1.5;
}

ul li::before {
  content: '\2012';
  position: absolute;
  margin-left: -20px;
}

content img {
  margin: 2em auto;
  display: block;
  width: 35%;
}

content p {
  font-size: 2em;
  font-weight: 100;
  padding: 0 4em;
}

.ingredients, .directions {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #000;
  padding-top: 2em;
}
